.grid-container {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 150px 200px 1200px 100px;
    height: 1100px;
    margin: 10px;
}

    .grid-item1 {
        background-color:white;
        margin: 5px;
        padding: 15px;
        }
    .grid-item2 {
        background-color: white;
        margin: 5px;
        border-radius: 3px;
        }
    .grid-item3 {
        background-color: white;
        border-radius: 8px;
        padding: 5px;
        }
    .grid-item4 {
        background-color: white;
    }

.fotoR {
    width: 100%;
}
.horizontaal {
    width: 320;
    padding: 5px;
    list-style-type: none;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li1 a  {
    display: block;
    color:black;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 8px;
}
a:hover {
    color: red;
}

.voorkant {
    width: 100%;
    float: center;
    border-radius: 15px;
}
p {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p1 {
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p2 {
    font-size: 18px;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: 250px 100px 500px 100px;
    height: 1100px;
    margin: 10px;
}

    .grid-item5 {
        
        background-color:white;
        margin: 5px;
        padding: 15px;
        }
    .grid-item6 {
        background-color: white;
        margin: 5px;
        border-radius: 8px;
        }
    .grid-item7 {
        background-color: white;
        height: auto;
        margin: 5px 5px;
        border-radius: 8px;
        padding: 15px;
        }
    .grid-item8 {
        background-color: white;
    }
    .grid-item9 {
        background-color: white;
        margin: 5px 5px;
        border-radius: 8px;
        padding: 15px;
        }
    .tekst {
        height: 100px;
        width: auto;
    }
    .video1 {
        width: 300px;
        height: auto;
        padding: 5px;
    }
    .video2 {
        width: 300px;
        padding: 5px;
    }
    .blogpost { 
        width: 400px;
        height: auto; 
        border-radius: 8px;
        margin: 3px;
        padding: 5px;
    }
    .blogfoto{
        width: 100%;
        border-radius: 8px 8px 0px 0px;
    }
    .grid-item10 {
        display: flex;
        flex-flow: wrap;
        border-radius: 8px;
    }
    form label {
        display: block;
    }
    textarea {
        width: 250px;
        height: 200px;
    }
        @media (min-width: 1040px) {
            .grid-container {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                }
                
                .grid-item1 { grid-area: 1 / 1 / 2 / 4; }
                .grid-item2 { grid-area: 1 / 4 / 2 / 6; }
                .grid-item3 { grid-area: 2 / 1 / 5 / 6; }
                .grid-item4 { grid-area: 5 / 1 / 6 / 6; }
               
                .fotoR {
                    width: 500px;
                }
            }   